<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-outline-secondary btn-lg m-2">All Tasks</button>
                <button type="button" class="btn btn-outline-secondary btn-lg m-2">New Task</button>
                <button type="button" class="btn btn-outline-secondary btn-lg m-2">Review</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
